/* Funetes Raleway */
@font-face {
  font-family: 'Raleway medium';
  src: url("../assets/fonts/Raleway-Medium.ttf" );
}

@font-face {
  font-family: 'Raleway semibold';
  src: url("../assets/fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: 'Raleway bold';
  src: url("../assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: 'Raleway italic';
  src: url("../assets/fonts/Raleway-Italic.ttf");
}
 /* Estylos Javier */
* {
  margin: 0px;
  padding: 0px;
}

header {
  font-family: 'Raleway medium' !important;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la altura de la ventana */
  font-family: 'Raleway medium' !important;
}

footer {
  font-family: 'Raleway medium' !important;
}

main {
  flex: 1; /* Hace que el contenido principal tome el espacio restante */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway semibold' !important;
}

p {
  font-family: 'Raleway medium' !important;
}

i {
  font-family: 'Raleway italic' !important;
}

strong {
  font-family: 'Raleway bold' !important;
}
/* estilos para fuente de la tabla de reservas*/
.th-font {
  font-size: 14px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.error-message {
  font-size: 80%;
}

.icon-size {
  font-size: 2rem;
}

.contar {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color:black
}

.btn-xs {
  --bs-btn-padding-y: .15rem !important;
  --bs-btn-padding-x: .2rem !important; 
  --bs-btn-font-size: .75rem !important;
}

/* Estilos Hector */

.fondo {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image:url(../assets/img/HSJ\ Fachada.jpg);
  background-repeat: no-repeat;
  opacity: 90%;
}

.menu-login {
  position: center;
  border-radius: 25px !important;
  background-color: #ffffff !important;
  opacity: 80%;
}

.centro-login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

